---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Study Space - Home Galaxy";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Register</h1>
    <div class = "iframeWrapper">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfDhzLzdqVb13IFko7RRrikU5kbq7mTsNsLjJrV8GYJpRc4pg/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</Layout>

