---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Home Galaxy</a>
    </div>
    <div class="navbar__menu">
        <a href="/news/">News</a>
        <a href="/team/">Team</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDhzLzdqVb13IFko7RRrikU5kbq7mTsNsLjJrV8GYJpRc4pg/viewform?usp=sf_linky" target="_blank">Register</a>
        <ThemeIcon />
    </div>
</div>

