---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Home Galaxy</a>
    </div>
    <div class="navbar__menu">
        <a href="/news/">News</a>
        <a href="/about/">About</a>
        <a href="/team/">Team</a>
        <ThemeIcon />
    </div>
</div>

