---
interface Props {
    url: string;
    image: string;
    title: string;
    body: string;
}

const { url, image, title, body } = Astro.props;
---
<li class="pfp-card">
    <a class="pfp-card__link" href={url}>
        <div class="center">
            <img class="pfp-card__img" width="127" height="127" src={image} alt="StudySpaceAnnouncementImage">
        </div>
        <h3 class="pfp-card__title">
            {title}
        </h3>
        <p class="pfp-card__txt">
            {body}
        </p>
    </a>
</li>
